.empty p {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 10px;
}

input.search {
  width: 93%;
}

.icon.broom {
  display: inline;
  float: right;
  cursor: pointer;
  margin-right: -3px;
}
